<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Flexibility</h3>
      <p>
        Fit work around your own life. Set your availability each week.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Make great money</h3>
      <p>
        Get paid weekly. Top shoppers make $1,000 a week.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Help people and their families</h3>
      <p>
        Get customers their groceries. Shop, deliver, or do it all.
      </p>
    </div>
  </div>
</div>
