<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.instacart.com">
        <img alt="Instacart" src="img/logo.png" width="30px" height="30px">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <form class="navbar-form navbar-right">
        <button type="button" class="btn btn-success navbar-btn" ng-click="searchApplicant()">
          Check Application
        </button>
        <button type="button" class="btn btn-success navbar-btn" ng-click="applyNow()">
          Become a Shopper
        </button>
      </form>
    </div>

  </div>
</nav>
